{
    "extends": [
        "airbnb-base",
        "plugin:react/recommended"
    ],
    "parser": "babel-eslint",
    "globals": {
        "browser": false,
        "$": false,
        "$$": false,
        "expect": false
    },
    "env": {
        "mocha": true,
        "node": true,
        "es6": true
    },
    "plugins": [
        "react"
    ],
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "rules": {
        "indent": [
            "error",
            2
        ],
        "max-len": [
            "error",
            {
                "code": 120,
                "ignoreUrls": true
            }
        ],
        "import/prefer-default-export": "off",
        "object-curly-newline": "off",
        "import/no-extraneous-dependencies": [
            "error",
            {
                "devDependencies": [
                    "integration/**/*",
                    "tests/**/*"
                ]
            }
        ]
    }
}
